<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My First Backbone app</title>
</head>
<body>
	<header>
		<h1>My First Backbone app</h1>
	</header>

<section id="container">
	



</section>

<script type="text/template" id="search_template">
    
   
   <ul>
   	<li><%= name  %></li>
   	<li><%= cuisine %></li>
   </ul>
</script>

<script src= "http://backbonejs.org/test/vendor/jquery.js"></script>
<script src="http://backbonejs.org/test/vendor/underscore.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>

<script src="js/models/myCityModel.js"></script>
 <script src="js/collections/myCityCollection.js"></script>
<script src="js/views/myCityView.js"></script>



<script src="js/models/app.js"></script>



</body>
</html>